services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: fopymes-backend
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env.docker
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped

  db:
    image: postgres:13
    container_name: ${DATABASE_CONTAINER_NAME}
    env_file:
      - .env.docker
    ports:
      - "${DATABASE_PORT}:5432"
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: